.DS_Store
*/.DS_Store
MalmoPlatform/
*/__pycache__/
*/.ipynb_checkpoints
*/*.log
*/logs
models/*
training/plotfigs
datasets/*
*.zip
*/*.pkl
training/.dataset/
training/*.sav
training/*.h5
resources/
notes.txt
.ipynb_checkpoints
.vscode/
*.log
VERSION
download/
training/functions/__pycache__/