.DS_Store
*/.DS_Store
MalmoPlatform/
*/__pycache__/
*/.ipynb_checkpoints
*/*.log
*/logs
models/*
training/plotfigs
datasets/*
training/.dataset/
resources/
notes.txt
.ipynb_checkpoints
.vscode/
*.log
VERSION
